.Header{
    background-color: #333;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 50px;
    margin-bottom: 10px;
}

.Header__logo{
    color: #fff;
    font-size: 22px;
}